.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 100px;
}

.loading {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
